@use "../core/mixins" as *;

.formulas-section {
  padding: 100px 20px;
  color: #fffaf6;
  background-color: #292a35;
}

.section-tag {
  @include pill(var(--primary-yellow));
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.section-title {
  @include uppercase-heading(4.5rem, 1, -2px);
  margin-bottom: 1rem;
  font-family: Inter;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -1.33px;
}

.section-sub {
  font-family: var(--font-mono);
  font-size: 1.1rem;
  color: var(--text-white);
  margin-bottom: 5rem;
}

.section-sub u {
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.product-row {
  margin-bottom: 80px;
  align-items: center;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.product-image-container img {
  max-width: 280px;
  height: auto;
  filter: drop-shadow(0 30px 40px #00000099);
  z-index: 2;
  animation: float 6s ease-in-out infinite;
}

.product-info h3 {
  @include uppercase-heading(2.5rem, 1, -1px);
  margin-bottom: 1.5rem;
  font-family: Inter;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -0.83px;
}

.product-info p {
  font-family: var(--font-mono);
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-white);
  max-width: 380px;
}

@media screen and (max-width: 639px) {
  .section-title {
    font-size: 2.5rem;
  }

  .product-info h3 {
    font-size: 1.8rem;
  }

  .product-info {
    text-align: center;
    margin-bottom: 2rem;
  }

  .product-info p {
    margin: 0 auto;
  }

  .formula-reverse {
    flex-direction: column-reverse;
  }
}
