.row {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gap) * -0.5);
}

.row>* {
  padding: calc(var(--grid-gap) * 0.5);
}

.column {
  flex: 1 1 100%;
  min-width: 0;
}

.column.small-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.column.small-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.column.small-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

@media (min-width: 768px) {
  .column.medium-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .column.medium-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .column.medium-8 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
}

@media (min-width: 1024px) {
  .column.large-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .column.large-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .column.large-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}